@charset "UTF-8";



html, body, h1, h2, h3, p {
		
			margin: 0;
			padding: 0;
			
		
		}
		
		
		html {
		
			font-size: 16px;
		}
		
		header {
			text-align: center;
			background-color: lightblue;
		}
		
		nav {
		
			background-color: purple;
			color: white;
			
		}
		nav > a {
			color: white;
			text-decoration: none;
			margin-left: 20px;
		}
		
		footer {
			position: fixed;
			width: 100%;
			bottom: 0;
			
			background-color: lightblue;
			
			text-align: center;
		}