@charset "UTF-8";
	html, body, h1, h2, h3, p {
		margin: 0;
		padding: 0;
	}
	html {
		font-size: 16px;
	}

	header {
		
		text-align: center;
		background-color: lightBlue;
	}
	nav {
		background-color: purple;
		color: white;
	}
	nav > a {
		margin-left: 2em;
		text-decoration: none;
		color: white;
	}
	section{
		margin: 3em;
	}
	footer {
		position: fixed;
		width: 100%;
		bottom: 0;
	
		background-color: lightBlue;
		text-align: center;
	}